<html>

<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{config.paths.assets}}/css/style.css">
</head>

<body>
    <div id="headerOuter">
        <div id="header">{{>header site=config.site}}</div>
    </div>
    <div id="box">{{{content}}}</div>
</body>

</html>