{{#each page.pagedPosts}}
<article>
    <header>
        <span id="meta">{{dateFormat this.post.meta.date format='Do MMMM YYYY'}}</span>
        <a href="{{this.meta.slug}}.html">
            <h1>{{this.meta.title}}</h1>
        </a>
    </header>

    {{{this.content}}}

</article>
{{/each}}

{{>pagination page=page}}